{% extends 'base.html.twig' %}

{% macro recursiveWiki(wiki, refWiki) %}
    {% set wikiId = app.request.get('wikiId') %}
    <li class="media open-inner-wiki">
        {% if refWiki[wiki.id] is defined %}
            <span class="glyphicon glyphicon-plus small text-muted"></span>
        {% endif %}
        <a href="{{ path('app.wiki.wiki', {'wikiId': wiki.id}) }}" {% if wiki.id == wikiId %}class="href-decoration"{% endif %}>
            {{ wiki.title }}
        </a>
        <p class="small">
            ком: {{ wiki.comments.count }}
        </p>
        {% if refWiki[wiki.id] is defined %}
            <ul class="inner-title-wiki">
                {% for wiki in refWiki[wiki.id] %}
                    {{ _self.recursiveWiki(wiki, refWiki) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <h2><a href="{{ path('app.wiki.main') }}"> Wiki TBR.</a></h2>
                <ul class="media-list">
                    {% for wiki in listWiki %}
                        {{ _self.recursiveWiki(wiki, refWiki) }}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-7 text-background">
                <div class="col-lg-12 top20">
                    <h3 class="top0">{% if wiki.title is defined %}{{ wiki.title }}{% endif %}</h3>
                    <p>{% if wiki.text is defined %}{{ wiki.text|raw }}{% endif %}</p>
                    {% if wiki.createdAt is defined %}
                        <h6 class="text-muted">Дата публикации: {{ wiki.createdAt.format('Y-m-d H:i:s') }}</h6>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-3">
                <h3 class="pull-right">
                    <a href="{{ path('app.user.comments') }}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{ app.user.username }}
                    </a>
                </h3>

                <div class="row">
                    <div class="col-lg-12">
                        <h3>Оставить коментарий:</h3>
                        {% if form %}
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_widget(form.text, {"attr": {"class": "form-control", "rows": 3, "placeholder": "Текст коментария"}}) }}
                            </div>
                            {{ form_widget(form.submit, {"attr": {"class": "btn btn-default"}}) }}
                            {{ form_end(form) }}
                        {% endif %}
                    </div>
                </div>

                <div class="row top20" data-wiki="{{ wiki.id }}">
                    <div class="col-lg-12">
                        <h3 class="top0">Коментарии:</h3>
                    </div>
                    <div class="col-lg-12">
                        {% if comments|length > 0 %}
                            {% if app.user.checkComments[wiki.id] is defined %}
                                {% set listNotCheckComments = app.user.checkComments[wiki.id] %}
                            {% else %}
                                {% set listNotCheckComments = [] %}
                            {% endif %}
                            {% for comment in comments %}
                                <div class="media {% if comment.id in listNotCheckComments %}not-read{% endif %}">
                                    <div class="media-body text-padding">
                                        <h4 class="media-heading">
                                            {{ comment.user.username }}
                                            {% if comment.id in listNotCheckComments %}
                                                <span class="small text-not-read">(Не прочитан)</span>
                                            {% endif %}
                                        </h4>
                                        <p {% if comment.id in listNotCheckComments %}class="text-warning"{% endif %}>
                                            {{ comment.text }}
                                        </p>
                                        <span class="text-muted">{{ comment.createdAt.format("Y-m-d H:i:s") }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('.open-inner-wiki span').click(function () {
                const element = $(this).parent().find('.inner-title-wiki');

                if ($(element[0]).css('display') === 'block') {
                    $(element[0]).css('display', 'none');

                    $(this)
                        .removeClass('glyphicon-minus')
                        .addClass('glyphicon-plus');
                } else {
                    $(element[0]).css('display', 'block');

                    $(this)
                        .removeClass('glyphicon-plus')
                        .addClass('glyphicon-minus');
                }
            });

            const currentWikiElement = $('.media-list .inner-title-wiki');
            for (let i = 0; i < currentWikiElement.length; i++) {
                if ($(currentWikiElement[i]).find('a.href-decoration').length > 0) {
                    $(currentWikiElement[i]).css('display', 'block');

                    const elementSpanParent = $(currentWikiElement[i]).parent().find('span.glyphicon');
                    $(elementSpanParent[0])
                        .removeClass('glyphicon-plus')
                        .addClass('glyphicon-minus');
                }
            }
        });
    </script>
{% endblock %}