{% extends 'base.html.twig' %}

{% macro recursiveWiki(wiki, refWiki) %}
    {% set listNotCheckComments = app.user.checkComments %}
    <li class="media">
        <h4>
            <a href="{{ path('app.wiki.wiki', {'wikiId': wiki.id}) }}">{{ wiki.title }}</a>
        </h4>
        <p class="text-warning small">
            Непрочитаных коментариев:
            {% if listNotCheckComments[wiki.id] is defined %}
                <span class="text-danger">{{ listNotCheckComments[wiki.id]|length }}</span>
            {% else %}
                <span class="text-muted">0</span>
            {% endif %}
        </p>
        <p class="text-muted small">
            Дата публикации: {{ wiki.createdAt.format('Y-m-d H:i:s') }}
        </p>
        {% if refWiki[wiki.id] is defined %}
            <ul>
                {% for wiki in refWiki[wiki.id] %}
                    {{ _self.recursiveWiki(wiki, refWiki) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% block body %}
    <div class="row top20">
        <div class="col-lg-12">
            {{ form_start(form) }}
                <div class="input-group">
                    {{ form_widget(form.text, {'attr': {'class': 'form-control', 'placeholder': 'Search for...'}}) }}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go</button>
                    </span>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row top20">
        <div class="col-lg-12">
            <ul class="media-list">
            {% for wiki in listWiki %}
                {{ _self.recursiveWiki(wiki, refWiki) }}
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}