{% extends 'base.html.twig' %}

{% block title %}{{ wiki.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('app.wiki.main') }}">Назад</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>{{ wiki.title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{ wiki.text|raw }}
        </div>
    </div>
    <div class="row top20">
        <div class="col-lg-12 text-muted">
            {{ wiki.createdAt.format('Y-m-d H:i:s') }}
        </div>
    </div>
    <div class="row top20">
        <div class="col-lg-12">
            <h3 class="text-warning">Оставить коментарий:</h3>
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_widget(form.text, {"attr": {"class": "form-control", "rows": 3, "placeholder": "Текст коментария"}}) }}
                </div>
                {{ form_widget(form.submit, {"attr": {"class": "btn btn-default"}}) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row top20 comment-list" data-wiki="{{ wiki.id }}">
        <div class="col-lg-12">
            <h3 class="text-warning">Коментарии:</h3>
            {% if app.user.checkComments[wiki.id] is defined %}
                {% set listNotCheckComments = app.user.checkComments[wiki.id] %}
            {% else %}
                {% set listNotCheckComments = [] %}
            {% endif %}
            {% for comment in comments %}
                <div class="media {% if comment.id in listNotCheckComments %}not-read{% endif %}">
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ comment.user.username }}
                            {% if comment.id in listNotCheckComments %}
                                <span class="small text-not-read">(Не прочитан)</span>
                            {% endif %}
                        </h4>
                        <p {% if comment.id in listNotCheckComments %}class="text-warning"{% endif %}>
                            {{ comment.text }}
                        </p>
                        <span class="text-muted">{{ comment.createdAt.format("Y-m-d H:i:s") }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            $(window).scroll(function () {
                const elementCommentList = $('.comment-list');
                const elementPosition = elementCommentList.offset().top;
                const scrollPosition = $(window).scrollTop();
                const elementsNotRead = $('.not-read');

                if (elementPosition <= scrollPosition && elementsNotRead.length > 0) {
                    $.ajax({
                        url: '/comment/check/' + elementCommentList.attr('data-wiki'),
                        statusCode: {
                            200: function() {
                                elementsNotRead.each(function (index, value) {
                                    $(this).find('.text-not-read').remove();
                                    $(this).find('.text-warning').removeClass('text-warning');
                                    $(this).find('.not-read').removeClass('not-read');
                                });
                            }
                        }
                    });
                }
            });
        })
    </script>
{% endblock %}
